# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variable files
.env
.env.*.local

# Node modules
node_modules/

# Build directories
dist/
dist-ssr/

# Local files
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: MongoDB local data (if any)
data/
dump/
